.table-container {
  overflow-x: scroll;
  padding: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
  min-width: 200px;
}

th {
  text-transform: uppercase;
  border: 0;
  background-color: #ddd;
  font-size: 12px;
}

td {
  line-height: 30px;
}

td:first-child {
  border-left: 1px solid #ddd;
}

td:last-child {
  border-right: 1px solid #ddd;
}

td > button {
  padding: 4px 16px;
  background-color: #34d399;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  color: white;
}

tr:nth-child(even) {
  background-color: #eee;
}
